body{
   background-color: darkgray;
   color: lightgray;
   font-family: 'Montserrat', sans-serif;
 }
.userStories{
   background: #ededed;
   color: #000000;
   border-color: gray;
   border-width: 1px;
   border-style: solid;
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
 }

.container{
   background: #ffffff;
   color: #000000;
   border-color: gray;
   border-width: 2px;
   border-style: solid;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 40px;
   padding-top: 35px;
   padding-bottom: 35px;
   width: 95%;   
}

.stories{
   margin-left: 30px;
}

code{
   font-size: 14px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d2c2c;
  color: white;
  text-align: center;
  opacity: 0.5;
}